@{
    Layout = "_Layout";
}





    <main>

        <div class="container">
            <div class="row">
                <div class="col-12">

                    <h1 class="my-5">Menù pizze</h1>


                    <table class="table">
                        <thead>
                            <tr>
                                <th scope="col">Nome pizza</th>
                                <th scope="col">Descrizione</th>
                                <th scope="col">Immagine</th>
                                <th scope="col">Prezzo</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>
                                    <a href="#">
                                        <p>Margherita</p>
                                    </a>
                                </td>
                                <td>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has  ever since the.</td>
                                <td><img width="200" src="~/Img/pizza-storia.jpg" alt="Immagine pizza margherita" /></td>
                                <td>€ 7.50</td>
                                <td><a href="#">Modifica</a>
                                <td><a href="#">Elimina</a>
                            </tr>
                            <tr>
                                <td>
                                    <a href="#">
                                        <p>Capricciosa</p>
                                    </a>
                                </td>
                                <td>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard text ever since the.</td>
                                <td><img width="200" src="~/Img/capricciosa.jpg" alt="Immagine pizza capricciosa" /><</td>
                                <td>€ 9.50</td>
                                <td><a href="#">Modifica</a>
                                <td><a href="#">Elimina</a>
                            </tr>
                            <tr>
                                <td>
                                    <a href="#">
                                        <p>Pistacchiosa</p>
                                    </a>
                                </td>
                                <td>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard text ever since the.</td>
                                <td> <img width="200" src="~/Img/pistacchio.jpg" alt="Immagine pizza al pistacchio" /></td>
                                <td>€ 12.00</td>
                                <td><a href="#">Modifica</a>
                                <td><a href="#">Elimina</a>
                            </tr>
                            <tr>
                                <td>
                                    <a href="#">
                                        <p>Vegetariana</p>
                                    </a>
                                </td>
                                <td>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard text ever since the.</td>
                                <td><img width="200" src="~/Img/vegetariana.jpg" alt="Immagine pizza vegetariana" /></td>
                                <td>€ 10.00</td>
                                <td><a href="#">Modifica</a>
                                <td><a href="#">Elimina</a>
                            </tr>
                            <tr>
                                <td>
                                    <a href="#">
                                        <p>Biancaneve</p>
                                    </a>
                                </td>
                                <td>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard text ever since the.</td>
                                <td><img width="200" src="~/Img/BIANCANEVE.jpeg" alt="Immagine pizza biancaneve" /></td>
                                <td>€ 6.00</td>
                                <td><a href="#">Modifica</a>
                                <td><a href="#">Elimina</a>
                            </tr>

                        </tbody>
                    </table>

                </div>
            </div>
        </div>



    </main>








