@{
    Layout = "_layout";
}


<main>

    <div class="container text-center">

            <h1 class="my-5">Menù pizze</h1>
            <div class="d-flex container gap-3">

            <div class="card" style="width: 13rem;">
                <img width="200" src="~/Img/pizza-storia.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Margherita</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
                <div class="card-body">
                <a href="#" class="card-link">Ordina</a>
                </div>
            </div>

            <div class="card" style="width: 13rem;">
                <img width="200" src="~/Img/capricciosa.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Capricciosa</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
            
                <div class="card-body">
                    <a href="#" class="card-link">Ordina</a>
                </div>
            </div>

            <div class="card" style="width: 13rem;">
                <img width="200" src="~/Img/pistacchio.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Pistacchiosa</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
          
                <div class="card-body">
                    <a href="#" class="card-link">Ordina</a>
                </div>
            </div>

            <div class="card" style="width: 13rem;">
                <img width="200" src="~/Img/vegetariana.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Vegetariana</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
    
                <div class="card-body">
                    <a href="#" class="card-link">Ordina</a>
                </div>
            </div>

            <div class="card" style="width: 13rem;">
                <img width="200" src="~/Img/BIANCANEVE.jpeg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Biancaneve</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
           
                <div class="card-body">
                    <a href="#" class="card-link">Ordina</a>
                </div>
            </div>       
            </div>

    </div>
</main>
